flexbox()
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex

flex()
	-webkit-box-flex: arguments
	-moz-box-flex: arguments
	-webkit-flex: arguments
	-ms-flex: arguments
	flex: arguments

order(n)
	-webkit-box-ordinal-group: n
	-moz-box-ordinal-group: n
	-ms-flex-order: n
	-webkit-order: n
	order: n

transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-ms-transition: arguments
	-o-transition: arguments
	transition: arguments