foreground_color = red

body, html
	margin: 0
	padding: 0

*
	display: block
	box-sizing: border-box

.todoDay
	display: block
	float: left
	max-width: 30%

button
	border: none
	background: none

.buttonRemove
	color: #000
	position: absolute
	margin-top: 0
	margin-left: 0
	width: 12px
	height: 12px
.buttonRemove:before
	content: ''
	position: absolute
	top: 10px
	width: 21px
	height: 1px
	background-color: foreground_color
	-webkit-transform: rotate(-45deg)
	transform: rotate(-45deg)
.buttonRemove:after
	content: ''
	position: absolute
	top: 10px
	width: 21px
	height: 1px
	background-color: foreground_color
	-webkit-transform: rotate(45deg)
	transform: rotate(45deg)